
@media (max-width: 768px) {
.navbar-desktop{
    display: none;
    }
    .navbar-mobile{
        display: flex;
        position: fixed;
        bottom: 0;
        width: 110%;
        left: -5%;
        justify-content: space-evenly;
        padding: 10px;
        height: 60px;
        background-color: rgb(149, 141, 226);
    
    }
}

@media (max-width: 768px){



}