* { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #272727;
}
header {
    background-color: #000000;
    color: white;
    padding: 115px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    align-items: flex-end;
    padding: 10px;
    bottom: 10px;
    position: relative;
}   
li {
    list-style: none;
    margin: 0 15px;
    font-size: 18px;
    bottom: 10px;
}
img{
    width: 100px;
    bottom: 10px;
   
}

.LOGO{
    width: 250px;
    height: 250px;
    position:absolute;
    right: 145px;
    top: 1px;

}
.redes{
    bottom: -130px;
}
.Contato{
    position: relative;
    right: 10px;
    bottom: -160px;
    left: 350px;
    padding: 10px;
    font-size: 18px;
}
@media (max-width: 768px) {
    header {
        /* medidadas relavativas 
        % de ao infiinto
        % vh viewport altura
        vw viewport largura 
        */
        display: none;
    }
    
}