* { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #000000;
}
header {
    background-color: #000000af;
    color: white;
    padding: 52px ;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    align-items: flex-end;
    padding: 10px;
    bottom: 10px;
    position: relative;
}   
li {
    list-style: none;
    margin: 0 15px;
    font-size: 18px;
    bottom: 10px;
}
img{
    width: 25px;
    display: flex;
   
}

.LOGO{
    width: 100px;
    height: 100px;
    position:absolute;
    right: 145px;
    top: 1px;

}
.redes{
    bottom: -130px;
}
.Contato{
    position: flex;
    
}
.navbar-mobile{
    display: none;

}
.navbar-desktop{
    display: flex;
    justify-content: flex-start;
    gap: 10%;
    margin-top: 50px;
}
